In [2]:
import pandas as pd

In [3]:
# define experiment to be preprocessed
experiment_series = "2024_09_17"

In [7]:
# Define upstream manholes for each sampling point
upstream_1 = ["MW000", "MW020", "MW021", "MW022"]
upstream_2 = ["MW023", "MW024", "MW025"] 
upstream_3 = upstream_1 + upstream_2 + ["MW017", "MW018"] 
upstream_4 = upstream_3 + ["MW016", "MW015", "MW014", "MW029", "MW033", "MW038", "MW043"]
upstream_5 = ["MW077", "MW076", "MW075", "MW074", "MW073", "MW072", "MW071", "MW070", "MW069", "MW067", "MW051", "MW050", "MW049", "MW048"]
upstream_6 = ["RW147", "RW146", "RW145", "RW144", "RW161", "RW160", "RW159", "RW158", "RW157"]
upstream_7 = upstream_4 + upstream_5 + upstream_6 + ["MW047", "MW046"]
upstream_8 = upstream_7 + ["MW045", "MW061"]
upstream_9 = ["RW147", "RW146", "RW145", "RW144", "RW143"]
upstream_10 = upstream_9 + ["RW142", "RW141"]
upstream_11 = upstream_9 + ["RW142", "RW156", "RW152", "RW153", "RW154", "RW155"]
upstream_12 = upstream_8 + upstream_11 + ["MW060", "MW059"]
upstream_13 = ["RW224", "RW223", "RW222", "RW221", "RW220", "RW219", "RW218", "RW217", "RW216", "RW215", "RW214", "RW213", "RW212", "RW211"]
upstream_14 = upstream_12 + ["MW058", "MW057", "MW056", "MW055", "MW054"]
upstream_15 = upstream_10 + ["RW140", "RW139", "RW138", "RW137", "RW136", "RW135", "RW134", "RW133", "RW132", "RW131", "RW130", "RW129", "RW128", "RW127", "RW126"]
upstream_16 = upstream_13 + upstream_14 + upstream_15 + ["MW053", "MW052"]

upstream_locations_dict = {"1": list(set(upstream_1)), "2": list(set(upstream_2)), "3": list(set(upstream_3)), "4": list(set(upstream_4)), 
                           "5": list(set(upstream_5)), "6": list(set(upstream_6)), "7": list(set(upstream_7)), "8": list(set(upstream_8)), 
                           "9": list(set(upstream_9)), "10": list(set(upstream_10)), "11": list(set(upstream_11)), "12": list(set(upstream_12)), 
                           "13": list(set(upstream_13)), "14": list(set(upstream_14)), "15": list(set(upstream_15)), "16": list(set(upstream_16))}

In [12]:
travel_times = pd.read_csv("../../simulation_output/wastewater_model/2024_09_17/3_min_resolution/KeinRegen/no_decay/output_travel_times.csv")
travel_times = travel_times[["Unnamed: 0", "memilio_id", "MW022", "MW023", "MW017", "MW043", "MW048", "RW157", "MW046", "MW061", "RW143", "RW141", 
                             "RW155", "MW059", "RW211", "MW054", "RW126", "MW052"]]
travel_times.head()

,Unnamed: 0,memilio_id,MW022,MW023,MW017,MW043,MW048,RW157,MW046,MW061,RW143,RW141,RW155,MW059,RW211,MW054,RW126,MW052
0,MW000,1,868,1412,1378,2894,3136,3147,3096,3340,5773,5861,3709,3578,4418,4168,4495,4330
1,MW014,1,1189,1189,679,837,1079,1090,1040,1283,3716,3804,1653,1522,2362,2112,2439,2273
2,MW015,1,855,855,345,1170,1412,1423,1373,1617,4049,4137,1986,1855,2695,2445,2772,2606
3,MW016,1,689,689,179,1337,1579,1590,1540,1783,4216,4304,2153,2022,2862,2612,2939,2773
4,MW017,1,510,510,0,1516,1757,1769,1718,1962,4395,4483,2331,2200,3040,2790,3117,2952

In [13]:
max_times_by_station = []
station_names = ["MW022", "MW023", "MW017", "MW043", "MW048", "RW157", "MW046", "MW061", "RW143", "RW141", "RW155", "MW059", "RW211", "MW054", "RW126", "MW052"]

for station in range(1, 17):
    upstream_locations = upstream_locations_dict[str(station)]
    station_name = station_names[station - 1]
    travel_times_subset = travel_times.loc[travel_times["Unnamed: 0"].isin(upstream_locations), :]
    mean_travel_times = travel_times_subset.groupby(['Unnamed: 0'])[station_name].mean()
    max_times_by_station.append(round(mean_travel_times.max() / 60))

print(max_times_by_station)

[14, 6, 23, 48, 64, 68, 69, 73, 11, 19, 53, 77, 80, 87, 74, 89]